.tweets-container {
    width: 80%;
    @include flex;
    .tweets-list {
        width: 80%;
        margin-bottom: 100px;

        @include flex ($direction: column);

        @include xs {
            width: 100%;
        }

        form {
            margin-top: 2rem;
            width: 50%;
            padding: 1rem;
            border: 1px solid $text-color;
            border-radius: 5px;

            @include xs {
                width: 100%;
            }

            .form-title h4 {
                color: $text-color;
                padding-bottom: .5rem;
            }

            .form-body {
                width: 100%;

                .form-item {
                    width: 100%;
                    padding-bottom: .5rem;

                    textarea {

                        border: none;
                        width: 100%;
                        height: 5rem;
                        resize: none;
                        outline: none;
                        background-color: whitesmoke;
                        border-radius: 8px;
                        padding: 10px 15px;

                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}