.tweets-container {
    width: 80%;
    @include flex;

    .tweets-list {
        width: 80%;

        @include flex ($direction: column);

        @include xs {
            width: 100%;
        }

        form {
            margin-top: 2rem;
            width: 50%;
            padding: 1rem;
            border: 1px solid $text-color;
            border-radius: 5px;

            @include xs {
                width: 100%;
            }

            .form-title h4 {
                color: $text-color;
                padding-bottom: .5rem;
            }

            .form-body {
                width: 100%;

                .form-item {
                    width: 100%;
                    padding-bottom: .5rem;

                    textarea {

                        border: none;
                        width: 100%;
                        height: 5rem;
                        resize: none;
                        outline: none;
                        background-color: whitesmoke;
                        border-radius: 8px;
                        padding: 10px 15px;

                    }

                    &:last-child {
                        text-align: right;
                    }
                }
                
            }

        }

        .tweet-card {
            width: 50%;
            border: 1px solid $text-color;
            margin-top: 2rem;
            padding: 1.5rem;
            border-radius: 5px;

            @include xs {
                width: 100%;
            }

            &-author {

                @include flex($justify: flex-start);
                
                img {
                    width: 2rem;
                }

                p{
                    margin-left: 1rem;
                }
            }

            &-body {
                padding: 1rem;
            }

            &-actions {

                margin-top: 2rem;
                border-top: 1px solid whitesmoke;
                
                @include flex($justify: space-around);
                
                i {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    cursor: pointer;
                    color: $primary-color-dark;
                }

            }
        }

    }
}