if isAuthenticated 
    .profile 
        .profile-img 
            img(src="https://randomuser.me/api/portraits/men/32.jpg", alt="")
        .profile-info 
            h3 @#{currentUser.username}
            p #{currentUser.firstname} #{currentUser.lastname} 
