section {
    padding: 50px;

    @include flex;

    .content-box {
        width: 40%;
        padding: 30px;
        border: 1px solid $text-color;
        border-radius: 5px;
        background-color: $secondary-color;

        .form-box {
            width: 100%;

            .input-box {
                margin-top: 1rem;
                
                input {
                    width: 100%;
                    border-radius: 5px;
                    padding: 10px 15px;    
                    border: 1px solid $text-color;  
                    outline-style: none;  
                }
            }
        }

    }
}